.whoWeAre{
    background-color: var(--white2);
    width: 100%;
    height: 100vh;
    flex-wrap: wrap;
    justify-content: center;
    overflow-y: scroll;
    padding: 20px 0;
}

.whoWeAre .content{
    display: block;
    width: 80%;
    margin: auto;
    margin-top: 3rem;
}
.whoWeAre .content hr{
    width: 7%;
    height: 3px;
    background: var(--yellow);
    border-radius: 1px;
    opacity: 1;
    margin: 20px auto;
}

.whoWeAre .content .form{
    width: 100%;
    min-height: 60vh;
    height: auto;
    display: flex;
    box-sizing: border-box;

}

.whoWeAre .content .form .left{
 width: 30%;
 background-color: var(--blue);  
 padding: 20px;
 padding-top: 2rem;
 color: var(--white);
}

.whoWeAre .content .form .left p{
font-size: 18px;
font-weight: 400;
display: block;
padding: 20px;
width: 90%;
text-align: justify;
margin: auto;
line-break: anywhere;

}

.whoWeAre .content .form .right{
width: 70%;
background-color: var(--gray4);
box-shadow:  30px 0px 0px 0px var(--gray4);

border-top: 30px solid var(--white2);
position: relative;
}
.whoWeAre .content .form .right .img {
    width: 100%;
    min-height: 250px;
    height: auto;
}
.whoWeAre .content .form .right .img .pos {
position: absolute;
width: 70px;
height: 70px;
background-color: var(--white2);
    top: -30px;
    right: -33px;
}

.whoWeAre .content .form .right .img img{
    width:100%;
    height: 480px;
    object-fit: cover;

    box-shadow:  30px 0px 0px 0px var(--white2);

}

.whoWeAre .content .form .right .textf{
width: 100%;
background-color: var(--gray4);
}

.whoWeAre .content .form .right .textf p{
font-size: 18px;
color: var(--white);
font-weight: 400;
padding: 0rem 2rem;
padding-top: 2rem;
text-align: justify;
line-break: anywhere;
margin: 0;

}


.whoWeAre .content .form .right svg{
    position: absolute;
    width: 20%;
    z-index: 1000;
    bottom: 90%;
    right: 3%;
    fill:rgba(51, 51, 51, 0.451)
}


@media (max-width:992px) {
    .whoWeAre .content .form{
  flex-wrap: wrap;
margin-bottom: 15rem;

}
.whoWeAre .content .form .right .img .pos {
display: none;
}
.whoWeAre .content .form .right,
.whoWeAre .content .form .left
{
    width: 100%;
    border: unset;
    box-shadow: none;
}

.whoWeAre .content .form .left
{
    overflow-y: scroll;
    height: 500px;
}
.whoWeAre .content .form .left p{
    padding: 0;
    line-height: 2;
    font-size: 15px;
}

.whoWeAre .content .form .right .textf{
overflow: hidden;
}
.whoWeAre .content .form .right .textf p{
font-size: 14px;
font-weight: 400;
padding:  1rem 1rem;

}

.whoWeAre .content .form .right .img img{
    width:100%;
   height: auto;
    object-fit: contain;
}
}

@media (min-width:993px) {
.whoWeAre .content{
    margin-top: 0;
    margin-bottom: 10rem;
}



}









@media (min-width:1400px) {

.whoWeAre .content .form .right .textf p{
   font-size: 22px;
    font-weight: 300;
    line-height: 1.5;
    font-weight: 500;
    padding: 2rem;
}

.whoWeAre .content .form .left p{
    font-size: 22px;
    font-weight: 300;
    line-height: 1.5;
    font-weight: 400;
    margin-bottom: 2rem;
}

}